/* firefox has strict local file policy: http://stackoverflow.com/questions/2856502/css-font-face-not-working-with-firefox-but-working-with-chrome-and-ie */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: 	url('../fonts/openSans/OpenSans-Light.woff') format('woff'),
		url('../fonts/openSans/OpenSans-Light.tff') format('truetype');
/*
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/openSans/OpenSans-Light.woff') format('woff');
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/openSans/OpenSans-Light.ttf') format('truetype');
*/
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;


  src: 	url('../fonts/openSans/OpenSans-Regular.woff') format('woff'),
		url('../fonts/openSans/OpenSans-Regular.ttf') format('truetype');
/*
  src: local('Open Sans'), local('OpenSans'), url('../fonts/openSans/OpenSans-Regular.woff') format('woff');
  src: local('Open Sans'), local('OpenSans'), url('../fonts/openSans/OpenSans-Regular.ttf') format('truetype');
*/
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/openSans/OpenSans-Bold.woff') format('woff');
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/openSans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('../fonts/openSans/OpenSans-LightItalic.woff') format('woff');
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('../fonts/openSans/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/sourceSansPro/SourceSansPro-Regular.woff') format('woff');
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/sourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/sourceSansPro/SourceSansPro-Bold.woff') format('woff');
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/sourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
}
